* {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size:15px;
	cursor: none !important;
}

a {
    	text-decoration: none;
}

body {
	background: #000;
	overflow:hidden;

	cursor: none !important;
}

.build .project {
	word-wrap: break-word;
}

li.build {
	list-style-type: none;
	vertical-align: middle;
	border-radius: 7px;	
}

.build {
	text-align: center;
	font-weight: bold;
        	display: -webkit-box;
        	-webkit-box-orient: vertical;
        	-webkit-box-align: stretch;
	-webkit-box-pack: center;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;
	-moz-box-pack: center;
}


ul.steps {
    	display: none;
}

li.build:hover {
  	text-decoration: underline;
}

.passed {
	background: white;
	color: black;
	text-shadow: 1px 1px white;
	border-style:solid;
	border-width:5px;
	border-color:white;
	

} 

.failed {
	background: #b50003;
	color: white;
	text-shadow: 1px 1px black;
	border-style:solid;
	border-width:5px;
	border-color:b50003;
}

.unknown {
	display:none;
	background: gray;
}

.passed a{
	color: black !important;
}

.failed a{
	color: white !important;
}